<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Home link -->
            <!-- Home link -->
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <!-- Dropdown for Users -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usu치rios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                    <a class="dropdown-item" href="/users/new">Cadastrar Usu치rio</a>
                    <a class="dropdown-item" href="/">Consultar Usu치rios</a>
                    <a class="dropdown-item" href="/users">Listar Usu치rios</a>
                </div>
            </li>

            <!-- Dropdown for Produtos -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProdutos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produtos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownProdutos">
                    <a class="dropdown-item" href="/produtos/new">Cadastrar Produto</a>
                    <a class="dropdown-item" href="/produtos/list">Filtrar Produtos</a>
                    <a class="dropdown-item" href="/produtos">Listar Produtos</a>
                </div>
            </li>

            <!-- Dropdown for Categorias -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategorias" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCategorias">
                    <a class="dropdown-item" href="/categorias/new">Cadastrar Categoria</a>
                    <a class="dropdown-item" href="/">Consultar Categorias</a>
                    <a class="dropdown-item" href="/categorias">Listar Categorias</a>
                </div>
            </li>
        </ul>
    </div>
</nav>