<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/users">User Management</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/users">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/new">Create User</a>
            </li>
        </ul>
    </div>
</nav>
