<div class="jumbotron text-center">
    <h1>Bem-vindo ao Sistema de Gerenciamento de Usuários</h1>
    <p class="lead">Gerencie seus usuários e produtos sem esforço.</p>
    <a href="/users" class="btn btn-custom">Gerenciar usuários</a>
    <a href="/produtos" class="btn btn-custom ml-2">Gerenciar produtos</a>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de usuários</h3>
            <p>Adicione, edite e exclua usuários facilmente com nossa interface intuitiva.</p>
            <a href="/users" class="btn btn-primary">Ir para usuários</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de produtos</h3>
            <p>Acompanhe seus produtos e seus detalhes perfeitamente.</p>
            <a href="/produtos" class="btn btn-primary">Is para produtos</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de capivaras</h3>
            <p>Adicione, edite e exclua as capivaras facilmente com nossa interface intuitiva.</p>
            <a href="/capivara" class="btn btn-primary">Ir para capivara</a>
        </div>
    </div>
</div>
</div>
