<h1>Cadastrar categoria</h1>
<form action="/categorias" method="POST">
    <div class="form-group">
        <label for="nome">Nome da categoria</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
