<h1>Detalhes da Capivara</h1>
<p>ID: <%= capivara.id %></p>
<p>Nome: <%= capivara.nome %></p>
<p>Descrição: <%= capivara.descricao %></p>
<a href="/capivara" class="btn btn-primary">Voltar para Lista</a>