<h1>Cadastrar novo produto</h1>
<form action="/produtos" method="POST">
    <div class="form-group">
        <label for="nome">Nome do Produto:</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" class="form-control" name="descricao" required></textarea>
    </div>
    <div class="form-group">
        <label for="preco">Preço:</label>
        <input type="number" step="0.01" class="form-control" id="preco" name="preco" required>
    </div>
    <div class="form-group">
        <label for="quantidade">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
    </div>
    <div class="form-group">
        <label for="categoria">Categoria:</label>
        <select class="form-control" id="categoria" name="categoria" required>
            <option value="">Selecione uma categoria</option>
            <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>"><%= categoria.nome %></option>
            <% }) %>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>